.ui.segment
    .fields
        = f.simple_fields_for :medications do |m|
            = m.input :medicine_name
            = m.input :dosage_dose_amount 
            = m.input :dosage_dose_unit 
            = m.input :dosage_frequency_value
            = m.input :dosage_frequency_unit
            = m.input :dosage_duration_value
            = m.input :dosage_duration_unit
            = m.input :still_active, as: :boolean, checked_value: true, unchecked_value: false