%tr
    = f.simple_fields_for :medications, wrapper: :no_label do |m|
        %td= m.input :medicine_name
        %td= m.input :dosage_dose_amount 
        %td= m.input :dosage_dose_unit 
        %td= m.input :dosage_frequency_value
        %td= m.input :dosage_frequency_unit
        %td= m.input :dosage_duration_value
        %td= m.input :dosage_duration_unit
        %td= m.input_field :still_active, as: :boolean, checked_value: true, unchecked_value: false