.ui.segment
    .fields
        = fields_for 'medical_history[vaccinations_attributes][]', @model do |v|
            .field
                = v.label :target_disease do
                    = I18n.t(:target_disease, scope: [:labels, :medical_history, :vaccination])
                = v.text_field :target_disease
            .field
                = v.label :date_administered do
                    = I18n.t(:date_administered, scope: [:labels, :medical_history, :vaccination])
                = v.date_field :date_administered, html5: true