.container.is-fluid
	%h2.title.text-center New Medical History
	= simple_form_for @medical_history, url: medical_histories_path do |f|
		.box#allergies
			.has-text-weight-bold.has-text-centered Allergies
			.table-container
				%table.table.is-fullwidth
					%tr
						- Allergy::ATTRIBUTES.each do |attrib|
							%th= t(attrib.to_sym, scope: [:headers, :medical_history, :allergy])
					= render 'allergy', f: f
			.has-text-centered
				= render 'shared/add_button', type: 'medical_history', object: 'allergy'
		.box#health-conditions
			.has-text-weight-bold.has-text-centered Health Conditions
			.table-container
				%table.table.is-fullwidth
					%tr
						- HealthCondition::ATTRIBUTES.each do |attrib|
							%th= t(attrib.to_sym, scope: [:headers, :medical_history, :health_condition])
					= render 'health_condition', f: f
			.has-text-centered
				= render 'shared/add_button', type: 'medical_history', object: 'health_condition'
		.box#medications
			.has-text-weight-bold.has-text-centered Medications
			.table-container
				%table.table.is-fullwidth
					%tr
						- Medication::ATTRIBUTES.each do |attrib|
							%th= t(attrib.to_sym, scope: [:headers, :medical_history, :medication])
					= render 'medication', f: f
			.has-text-centered
				= render 'shared/add_button', type: 'medical_history', object: 'medication'
		#vaccinations.box
			.has-text-weight-bold.has-text-centered Vaccinations
			.table-container
				%table.table.is-fullwidth	
					%tr
						- Vaccination::ATTRIBUTES.each do |attrib|
							%th= t(attrib.to_sym, scope: [:headers, :medical_history, :vaccination])
					= render 'vaccination', f: f
			= render 'shared/add_button', type: 'medical_history', object: 'vaccination'
		
		= f.button :submit, class: 'is-primary is-fullwidth'