.container.is-fluid
	%h2.title.text-center New Medical History
	= simple_form_for @medical_history, url: medical_histories_path do |f|
		%span Allergies
		= f.simple_fields_for :allergies do |a|
			= a.input :allergen
			= a.input :symptoms
			= a.input :medications
		%span Health Conditions
		= f.simple_fields_for :health_conditions do |h|
			= h.input :name_of_condition
			= h.input :date_of_diagnosis, as: :date
			= h.input :date_of_last_checkup, as: :date
		%span Medications
		= f.simple_fields_for :medications do |m|
			= m.input :medicine_name
			= m.input :dosage_amount_value
			= m.input :dosage_amount_unit
			= m.input :dosage_frequency_value
			= m.input :dosage_frequency_unit
			= m.input :still_active, as: :radio_buttons, collection: [['Yes', true], ['No', false]], item_label_class: 'radio'
		%span Vaccinations
		= f.simple_fields_for :vaccinations do |v|
			= v.input :target_disease
			= v.input :date_administered, as: :date
		= f.button :submit, class: 'is-primary'