.ui.segment
    = f.simple_fields_for :emergency_contacts do |e|
        .fields
            = e.input :first_name
            = e.input :middle_name
            = e.input :last_name
        .fields
            = e.input :relationship
            = e.input :telephone_number
            = e.input :cellphone_number
            = e.input :address
            