.ui.segment
    = fields_for 'personal_data[emergency_contacts_attributes][]', @model do |e|
        .fields
            .field
                = e.label :first_name do
                    = I18n.t(:first_name, scope: [:labels, :personal_data, :emergency_contact])
                = e.text_field :first_name
            .field
                = e.label :middle_name do
                    = I18n.t(:middle_name, scope: [:labels, :personal_data, :emergency_contact])
                = e.text_field :middle_name
            .field
                = e.label :last_name do
                    = I18n.t(:last_name, scope: [:labels, :personal_data, :emergency_contact])
                = e.text_field :last_name
            .field
                = e.label :relationship do
                    = I18n.t(:relationship, scope: [:labels, :personal_data, :emergency_contact])                    
                = e.text_field :relationship
        .fields
            .field            
                = e.label :telephone_number do
                    = I18n.t(:telephone_number, scope: [:labels, :personal_data, :emergency_contact])
                = e.text_field :telephone_number
            .field
                = e.label :cellphone_number do
                    = I18n.t(:cellphone_number, scope: [:labels, :personal_data, :emergency_contact])
                = e.text_field :cellphone_number
            .field
                = e.label :address do
                    = I18n.t(:address, scope: [:labels, :personal_data, :emergency_contact])
                = e.text_area :address, cols: 60, rows: 2
            