.ui.segment
    = fields_for 'personal_data[insurances_attributes][]', @model do |i|
        .field
            .fields
                .field
                    = i.label :provider_name do
                        = I18n.t(:provider_name, scope: [:labels, :personal_data, :insurance])
                    = i.text_field :provider_name
                .field
                    = i.label :id_number do
                        = I18n.t(:id_number, scope: [:labels, :personal_data, :insurance])
                    = i.text_field :id_number
                .field
                    = i.label :valid_until do
                        = I18n.t(:valid_until, scope: [:labels, :personal_data, :insurance])
                    = i.date_field :valid_until
                .field
                    = i.label :name_of_insured do
                        = I18n.t(:name_of_insured, scope: [:labels, :personal_data, :insurance])
                    = i.text_field :name_of_insured
                .field
                    = i.label :birthdate_of_insured do
                        = I18n.t(:birthdate_of_insured, scope: [:labels, :personal_data, :insurance])
                    = i.date_field :birthdate_of_insured
        .field
            .fields
                .field
                    = i.label :primary_beneficiary do
                        = I18n.t(:primary_beneficiary, scope: [:labels, :personal_data, :insurance])
                    = i.text_field :primary_beneficiary
                .field
                    = i.label :relationship_of_beneficiary_to_insured do
                        = I18n.t(:relationship_of_beneficiary_to_insured, scope: [:labels, :personal_data, :insurance])
                    = i.text_field :relationship_of_beneficiary_to_insured
                .field
                    = i.label :telephone_number do
                        = I18n.t(:telephone_number, scope: [:labels, :personal_data, :insurance])
                    = i.text_field :telephone_number