- personal_demographics = content.personal_demographics
- insurances = content.insurances
- emergency_contacts = content.emergency_contacts

- if personal_demographics.present?
    %h3= t(:personal_demographics, scope: [:headers, :personal_data, :sections])
    %table.table.is-bordered.is-fullwidth.is-striped
        - personal_demographics.each do |name, value|
            %tr
                %td.has-text-weight-bold
                    = t(name, scope: [:headers, :personal_data, :personal_demographics])
                %td= value

- if insurances.present?
    %h3= "#{t(:insurance, scope: [:headers, :personal_data, :sections])}".pluralize(insurances.size)
    = render 'shared/horizontal_table', hashes: insurances, type: 'personal_data', section: 'insurance'

- if emergency_contacts.present?
    %h3= "#{t(:emergency_contact, scope: [:headers, :personal_data, :sections])}".pluralize(emergency_contacts.size)
    = render 'shared/horizontal_table', hashes: emergency_contacts, type: 'personal_data', section: 'emergency_contact'