- personal_demographics = content.personal_demographics
- insurances = content.insurances
- emergency_contacts = content.emergency_contacts

- if personal_demographics.present?
    .ui.segment#personal_demographics
        .ui.dividing.header
            = t(:personal_demographics, scope: [:headers, :personal_data, :sections])
        %table.celled.striped.table
            - personal_demographics.each do |name, value|
                %tr
                    %td.has-text-weight-bold
                        = t(name, scope: [:headers, :personal_data, :personal_demographics])
                    %td= value

- if emergency_contacts.present?
    .ui.segment#emergency_contacts
        .ui.dividing.header
            ="#{t(:emergency_contact, scope: [:headers, :personal_data, :sections])}".pluralize(emergency_contacts.size)
        = render 'shared/horizontal_table', hashes: emergency_contacts, type: 'personal_data', section: 'emergency_contact'

- if insurances.present?
    .ui.segment#insurances
        .ui.dividing.header
            = "#{t(:insurance, scope: [:headers, :personal_data, :sections])}".pluralize(insurances.size)
        = render 'shared/horizontal_table', hashes: insurances, type: 'personal_data', section: 'insurance'