%h2 Edit Personal Data
= form_for(@personal_data, url: personal_data_path(@personal_data), method: :post) do |f|
	= f.fields_for :patient_demographics do |p|
		.field
			= p.label "Allergen"
			= p.text_field :allergen, autofocus: true, placeholder: "What are you allergic to?", required: true
		.field
			= p.label "Symptoms"
			= p.text_field :symptoms, placeholder: "What are the symptoms of this allergy?", required: true
		.field
			= p.label "Medications"
			= p.text_field :medications, placeholder: "What can treat this allergy?", required: true
	= f.fields_for :emergency_contacts do |e|
		.field
			= e.label "Name of Condition"
			= e.text_field :name_of_condition, placeholder: "What do you call this condition?", required: true
		.field
			= e.label "Date of Diagnosis"
			= e.date_field :date_of_diagnosis, placeholder: "When is this condition diagnosed?", required: true
		.field
			= e.label "Date of Last Checkup"
			= e.date_field :date_of_last_checkup, placeholder: "When did you last had your checkup for this condition?", required: true
	= f.fields_for :medications do |m|
		.field
			= h.label "Medicine Name"
			= h.text_field :medicine_name, placeholder: "What medicine/s do you take for this condition?", required: true
	= f.fields_for :vaccinations do |v|
		.field
			= v.label "Target Disease"
			= v.text_field :target_disease, "What disease is the vaccine for?", required: true
		.field
			= v.label "Date Administered"
			= v.date_field :date_administered, required: true
	.actions
		= f.submit "Sign up"