%h2 New Personal Data
= form_for(@personal_data, url: personal_data_path(@personal_data), method: :post) do |f|
	= f.fields_for :patient_demographics do |p|
		.field
			= p.label "Sex"
			= p.select :sex, PatientDemographics::SEX_CHOICES, required: true
		.field
			= p.label "Birthdate"
			= p.date_field :birthdate, required: true
		.field
			= p.label "Civil Status"
			= p.select :civil_status, PatientDemographics::CIVIL_STATUS_CHOICES, required: true
		.field
			= p.label "Weight in Kilograms"
			= p.number_field :weight_in_kg
		.field
			= p.label "Height in Centimeters"
			= p.number_field :height_in_cm
		.field
			= p.label "ABO Blood Type"
			= p.select :abo_blood_type, PatientDemographics::ABO_BLOOD_TYPES, required: true
		.field
			= p.label "RH Blood Type"
			= p.select :rh_blood_type, PatientDemographics::RH_BLOOD_TYPES, required: true
	= f.fields_for :emergency_contacts do |e|
		.field
			= e.label "First Name"
			= e.text_field :first_name, required: true
		.field
			= e.label "Middle Name"
			= e.text_field :middle_name, required: true
		.field
			= e.label "Last Name"
			= e.text_field :last_name, required: true
	= f.fields_for :insurances do |i|
		.field
			= i.label "Name of Insuracnce Provider"
			= i.text_field :provider_name, placeholder: "What is your insurace provider?", required: true
		.field
			= i.label "Insurance ID No."
			= i.number_field :provider_name, placeholder: "What is your insurace identification number?", required: true
		.field
			= i.label "Telephone No."
	.actions
		= f.submit "Submit"