.column
	.middle.aligned.center.aligned.row
		.ui.vertical.center.aligned.segment
			.ui.page.header.center.aligned New Personal Data
			= simple_form_for @personal_data, url: personal_data_index_path do |f|
				= render "users/shared/error_messages", resource: @personal_data
				.ui.three.item.tabular.menu
					= tag.div class: 'active item', data: { tab: 'personal-demographics' } do
						Personal Demographics
					= tag.div class: 'item', data: { tab: 'emergency-contacts' } do
						Emergency Contacts
					= tag.div class: 'item', data: { tab: 'insurances' } do
						Insurances

				.ui.active.tab{data: {tab: 'personal-demographics'}}
					.ui.dividing.header
						= t(:personal_demographics, scope: [:headers, :personal_data, :sections])
					.ui.segment
						= f.simple_fields_for :personal_demographics do |p|
							.field
								.fields
									= p.input :birthdate, as: :date, end_year: Date.today.year, html5: true
									= p.input :weight_in_kg, as: :integer, input_html: { max: 999, min: 1 }, label: 'Weight (in kg)'
									= p.input :height_in_cm, as: :integer, input_html: { max: 999, min: 1 }, label: 'Height (in cm)'
									= p.input :sex, collection: PersonalDemographics::SEX_CHOICES
									= p.input :civil_status, collection: PersonalDemographics::CIVIL_STATUS_CHOICES
									= p.input :abo_blood_type, collection: PersonalDemographics::ABO_BLOOD_TYPES,
										label: "#{t(:abo_blood_type, scope: [:labels, :personal_data, :personal_demographics])}"
									= p.input :rh_blood_type, collection: PersonalDemographics::RH_BLOOD_TYPES,
										label: "#{t(:rh_blood_type, scope: [:labels, :personal_data, :personal_demographics])}"
				
				.ui.tab{data: {tab: 'emergency-contacts'}}
					.ui.dividing.header Emergency Contacts
					= render 'shared/add_button', type: 'personal_data', object: 'emergency_contact', record: @personal_data
					#emergency-contacts
				
				.ui.tab{data: {tab: 'insurances'}}
					.ui.dividing.header Insurances
					= render 'shared/add_button', type: 'personal_data', object: 'insurance', record: @personal_data
					#insurances

				.ui.center.aligned.segment
					= f.button :submit, "Create Personal Data"