= link_to 'PHIMS', root_path
= form_for @user, url: signup_path do |u|
    = u.label "First Name"
    = u.text_field :first_name, placeholder: "First Name", required: true
    = u.label "Middle Name"
    = u.text_field :middle_name, placeholder: "Middle Name", required: true
    = u.label "Last Name"
    = u.text_field :last_name, placeholder: "Last Name", required: true
    = u.label "Username"
    = u.text_field :username, placeholder: "Username", required: true
    = u.label "Email Address"
    = u.text_field :email, placeholder: "Email Address", required: true
