.main-content
    .container.is-fluid
        %h2.title.text-center Own Records
        = link_to 'New Medical History', new_medical_history_path, class: 'button'
        = link_to 'New Personal Data', new_personal_data_path, class: 'button'
        
        - if @user_records.any?
            %table.table.is-bordered.is-fullwidth.is-striped
                %tbody
                    %tr
                        %th Record ID
                        %th Owner
                        %th Actions
                    - @user_records.each do |record|
                        %tr
                            %td= record.id
                            %td= link_to User.find(record.user_id).fullname, user_path(record.user_id)
                            %td
                                = link_to 'View', user_record_path(record.id)
                                - if record.user_id == current_user.id && record.phr_type.present?
                                    = link_to 'Edit', eval("edit_#{record.phr_type}_path(record.id)")
                                    = link_to 'Delete', user_record_path(record), title: 'Delete User Record', remote: true, method: :delete, data: {confirm_message: "Are you sure you want to delete this user record?"}
                                    = link_to 'Share', share_form_user_record_path(record)
        - else
            %h3.text-center No Records Yet
                