.ui.segment
    %table.ui.table.celled.striped.selectable
        %thead
            %tr
                %th Record ID
                %th Type
                %th Owner
                %th Actions
        %tbody    
            - user_records.each do |record|
                %tr
                    %td= record.id
                    %td= t(record.phr_type.to_sym, scope: :phr_types)
                    %td= link_to User.find(record.user_id).fullname, user_path(record.user_id)
                    %td
                        = link_to user_record_path(record.id) do
                            %i.eye.icon
                        - if record.user_id == current_user.id && record.phr_type.present?
                            = link_to eval("edit_user_record_path(record.id)") do
                                %i.edit.icon 
                            = link_to user_record_path(record), title: 'Delete User Record', remote: true, method: :delete, data: {confirm: "Are you sure you want to delete this user record?"} do
                                %i.trash.icon
                            = link_to share_form_user_record_path(record) do
                                %i.share.icon