.column
    .ui.vertical.center.aligned.segment
        .ui.huge.dividing.header.center.aligned
            = "Share #{t("phr_types.#{@user_record.phr_type}")}"
        .ui.centered.grid
            .vertical.center.aligned.eight.wide.column
                = form_tag share_user_record_path(@user_record), method: :post, class: 'ui form' do
                    .field
                        = label :share_recipient, :share_recipient, 'Recipient'
                        = text_field_tag 'user_record[share_recipient]', nil, placeholder: 'Enter email address of recipient (that has a confirmed account)'
                    .field
                        = label :password, :password, 'Password'
                        = password_field_tag 'user_record[password]', nil, placeholder: 'Enter password to share record'
                    .field
                        = submit_tag 'Submit', class: 'ui primary button'
