.eight.wide.column
    .centered.aligned.row
        .ui.vertical.center.aligned.segment
            .ui.huge.header.center.aligned
                = "#{t("phr_types.#{@user_record.phr_type}")} of #{@user_record.user.fullname}"
            = form_tag view_user_record_path(@user_record), method: :post, class: 'ui form' do
                .field
                    = label :password, :password, 'Enter password to view record'
                    = password_field_tag 'user_record[password]', nil
                .field
                    = submit_tag 'Submit', class: 'ui primary button fluid'