.column
    .ui.vertical.center.aligned.segment
        .ui.huge.dividing.header
            = "#{t("phr_types.#{@user_record.phr_type}")} of #{@user_record.user.fullname}"
        .ui.centered.grid
            .vertical.center.aligned.eight.wide.column
                .ui.segment
                    %h3.ui.header View Record
                    .ui.segment
                        = form_tag view_user_record_path(@user_record), method: :post, class: 'ui form' do
                            .field
                                = label :user_record, :password, 'Enter password to view record'
                                = password_field_tag 'user_record[password]', nil
                            .field
                                = submit_tag 'Submit', class: 'ui primary button'
            - if @user_record.is_owner?(current_user)
                .vertical.center.aligned.four.wide.column
                    .container
                        .ui.vertical.segment
                            = link_to edit_user_record_path(@user_record), class: 'ui blue labeled icon button' do
                                Edit Record
                                %i.edit.right.icon
                        .ui.vertical.segment
                            = link_to user_record_path(@user_record), method: :delete, class: 'ui red labeled icon button' do
                                Delete Record
                                %i.trash.right.icon
                        .ui.vertical.segment
                            = link_to share_form_user_record_path(@user_record), method: :delete, class: 'ui teal labeled icon button' do
                                Share Record
                                %i.share.right.icon
        - if @user_record.is_owner?(current_user)
            = render 'access_history', history: @access_logs