.column
  .ui.vertical.center.aligned.segment
    = render "users/shared/error_messages", resource: resource
    .ui.huge.dividing.header Change your password
    .ui.centered.grid
      .vertical.center.aligned.six.wide.column
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'ui form' }) do |f|
          = f.hidden_field :reset_password_token
          .field
            = f.label :password, "New Password"
            = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input'
            - if @minimum_password_length
              %span.help
                #{@minimum_password_length} characters minimum
          .field
            = f.label :password_confirmation, "Confirm new password"
            = f.password_field :password_confirmation, autocomplete: "off", class: 'input'
          .field
            = f.submit "Change my password",  class: 'ui primary button'
        = render "users/shared/links"
