.devise-container 
  %h2.title.text-center Change your password
  .box
    = render "users/shared/error_messages", resource: resource
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
      
      = f.hidden_field :reset_password_token
      .field
        = f.label :password, "New Password"
        .control
          = f.password_field :password, autofocus: true, autocomplete: "new-password", class: 'input'
          - if @minimum_password_length
            %span.help
              #{@minimum_password_length} characters minimum
      .field
        = f.label :password_confirmation, "Confirm new password"
        .control
          = f.password_field :password_confirmation, autocomplete: "off", class: 'input'
      .field
        .control.has-text-centered
          = f.submit "Change my password", class: 'button is-link is-fullwidth'
  = render "users/shared/links"
