.eight.wide.column
    .centered.aligned.row
        .ui.vertical.segment
            .ui.huge.centered.align.header Create an Account
            = simple_form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
                = render "users/shared/error_messages", resource: resource
                .required.field
                    %label Name
                    .fields
                        = f.input :first_name, autofocus: true, placeholder: "First Name", required: true, label: false
                        = f.input :middle_name, placeholder: "Middle Name", required: true, label: false
                        = f.input :last_name, placeholder: "Last Name", required: true, label: false
                = f.input :username, placeholder: "Username", required: true
                = f.input :email, autocomplete: "email", placeholder: "Email Address", required: true
                - if @minimum_password_length
                    = f.input :password, required: true, hint: "#{@minimum_password_length} characters minimum"
                - else
                    = f.input :password, required: true
                = f.input :password_confirmation, required: true
                = f.button :submit, class: 'fluid'
            = render "users/shared/links"